.container-footer {
    background-color: #f3f3f3;
    padding-top: 51px;
    display: flex;
    flex-direction: row;
}

.container-footer .empresa {
    width: 400px;
    height: 300px;
    margin-left: 100px;
}

.container-footer .creditos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container-footer p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.copright {
    padding: 10px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1048px) {
    .container-footer {
        flex-direction: column;
        margin-left: 10px;
    }
    .container-footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-footer .empresa {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}

Button {
    margin-top: 20px;
    width: 100%;
}
