.container-registro {
    width: 35%;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}

.registro-conteudo h1 {
    font-size: 26px;
    font-weight: 700;
}

.registro-conteudo p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.registro-conteudo Button {
    margin-bottom: 17px;
    width: 100%;
    padding: 18px 26px;
}

@media screen and (max-width: 1048px) {
    .sobre {
        width: 100dvw;
        height: 100dvh;
    }

    .container-registro {
        width: 100dvw;
        height: 100dvh;
    }

    .container {
        height: fit-content;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}
